PORT=5001
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=queueup_db

GOOGLE_API_KEY=your_key_here
SECRET_KEY=your_secret_key
N8N_WEBHOOK_URL=your_webhook_url
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:example@usa.edu.ph
