PORT=5001
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=queup_db

GOOGLE_API_KEY=AIzaSyCyirOY0RiDveXUbZgt00bRil8qN-T3bLk
SECRET_KEY=38c54d8a19b359c8430e779cb858a550715635bc57ecccb9
N8N_WEBHOOK_URL=https://cgd.app.n8n.cloud/webhook/receipt-verification
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:example@usa.edu.ph
